{% extends 'base.html' %}

{% block content %}
<div class="row">
    <form action="{{ url_for('database.edit_component_element') }}" id="edit_element_form">
        <div>
            <h5>Edit Element: {{ element.name }}</h5>
        </div>
        <div class="form-group">
            <label for="element_name">Name</label>
            <input type="text" class="form-control" id="element_name" name="element_name" value="{{ element.name }}" />
        </div>
        <div class="form-group">
            <label for="element_type">Type</label>
            <input type="text" class="form-control" id="element_type" name="element_type" value="{{ element.element_type }}" />
        </div>
        <div class="form-group">
            <label for="element_content">Content</label>
            <textarea class="form-control" id="element_content" name="element_content" rows="4">{{ element.content }}</textarea>
        </div>
        
        <input type="hidden" id="element_id" name="element_id" value="{{ element.id }}" />
        <button type="submit" class="btn btn-primary">Edit Element</button>
    </form>
</div>
{% endblock content %}