{% extends 'base.html' %}

{% block content %}
<div class="row">
    <h5 class="page_title">Alexander Blair's Portfolio Database</h5>
    <p>This is the Database Page for Alexander Blair's Portfolio</p>
</div>

<div class="row">
    <ul>
        <a href="{{ url_for('database.new_entities') }}"> 
            <li>Create New Database Entries</li>
        </a>
        <a href="{{ url_for('database.edit_entities') }}"> 
            <li>Edit Database Entries</li>
        </a>
    </ul>
</div>

<div class="row">
    <ul>
        <a href="{{ url_for('database.v2_new_entities') }}"> 
            <li>V2 New Entities</li>
        </a>
        <a href="{{ url_for('database.v2_edit_entities') }}"> 
            <li>V2 Edit Entities</li>
        </a>
    </ul>
</div>
{% endblock content %}